.login-container {

    .load-icon {
        color: rgb(30, 139, 139);
        margin-right: 7px;
        top: 1px;
        animation: spin 1s infinite linear;
    }

    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }

        to {
            transform: scale(1) rotate(360deg);
        }
    }

    .login-header {
        .btn-signup {
            padding: 3px 15px;
            border: none;
            margin-left: 5px;
            border-radius: 3px;

            &:hover {
                background-color: white;
            }
        }



        height: 45px;
        text-align: right;
        padding: 5px 100px 0 100px
    }

    .login-title {
        font-size: large;
        font-weight: 600;
        text-align: center;
        padding: 20px 0
    }

    .login-welcome {
        font-size: medium;
        text-align: center;
        padding: 10px 0;
    }

    .login-form {
        display: flex;
        flex-direction: column;

    }

    input {
        margin-bottom: 15px;
        margin-top: 3px;
    }

    .btn-submit {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin: 20px 0;
        color: white;
        background: black;

        &:disabled {
            background: #dddddd;
            color: #afafaf;
            cursor: no-drop;
        }
    }

    .back {
        cursor: pointer;
    }
}